:root {
    --primary: #EB1CCC;
    --secondary: #95989a;
    --text-color: #fff;
    --text-secondary: #000;
    --text-tertiary: #5d5d5d;
  }

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    min-height:100vh;
}

a{
    text-decoration:none;
}

img{
    max-width:100%;
    display:block;
}

/* Header area */

.main-header{
    height:85vh;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0,0,0, .8)), url(../img/hrz-5.jpg);
    background-position:center;
    background-size: cover;
    display:flex;
    justify-content: space-around;
    align-items: center;
    color:var(--text-color)
    
}

.main-header-text{
   max-width:350px;
}

.main-header-title{
    font-size:3em;
    font-weight: bold;
    padding-bottom:1em;
}

.main-header-subtitle{
    text-transform:uppercase;
    padding:.4em 0;
    font-size:32px;
    font-weight: 700;
}

.main-header-p{
    font-size:1.2em;
    margin-bottom:.3em;
}

.event-data{
    font-weight: 700;
}

.alt-color{
    color:var(--primary);
}

/* Form Area */

.main-header-form{
    background-color:var(--secondary);
    padding:1.6em;
    border-radius:5px;
    max-width:22%;
}

.form-title{
    font-size:1.5em;
    font-weight: normal;
    color:var(--text-secondary);
    margin-bottom:1em;
}

.input-block input, #user_interest{
    display:block;
    padding:6px 8px;
    width:100%;
    font-size:15px;
    border-radius:5px;
    border:0;
    outline:none;
    margin-bottom:.8em;
}

.input-block label{
    display:block;
    color:var(--text-tertiary);
    font-weight: 700;
    margin-bottom:.4em;
}

.btn{
    display:block;
    width:100%;
    padding:12px;
    border:0;
    border-radius:5px;
    background-color:var(--primary);
    cursor:pointer;
    color:var(--text-color);
    text-transform:uppercase;
    opacity: .8;
    transition:opacity .3s ease-in;
}

#btn-enviar:hover{
    opacity:1;
}

/* Top Section area */

.top-section{
    text-align: center;
}

.top-section h2{
    background-color:var(--secondary);
    padding:2em;
    font-weight: normal;
}

.card-area{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:80%;
    margin:auto;
    padding:4em;
}

.card{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card img{
    width:250px;
    height:250px;
    border-radius:50%;
    background-position: center;
    background-size:cover;
}

.card-text{
    margin-top:1.4em;
    max-width:13.75em;
}

/* Location Area */

#location-section{
    height:400px;
    background:linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.8)), url(/img/hrz-1.jpg);
    background-position:center;
    background-size:cover;
    margin-bottom: 3em;
    display:flex;
    justify-content: space-around;
    align-items: center;
    color:var(--text-color);
}

.address-area, .location-text{
    max-width:30%;
}

.address-area{
    display:flex;
    justify-content: space-between;
}

.address-text{
    text-align:center;
    font-style:normal;
}

.bi-geo-alt-fill{
    font-size:4em;
    color:var(--primary);
    margin-right:.5em;
}

.location-text h3{
    color:var(--primary);
    font-size:2.5em;
    margin-bottom:1em;
    text-transform:uppercase;
}

.location-text p{
    line-height:1.5em;
}


/* Details section area */
#details{
    width:80%;
    margin:0 auto;
}

.details{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:5%;
    margin-bottom:4em;
}

.details img{
    width:50%;
}

.details h3{
    margin-bottom:1em;
    font-size:2em;
    font-weight: 500;
}

#detail-1 h3{
    font-weight: bold;
}

.detail-description{
    width:100%;
    padding-left:2em;
}

.detail-description ul{
    list-style:inside;
}

.detail-description ul li{
    margin-bottom:.4em;
}

.detail-description ul li:last-child{
    font-weight:bold;
}

/* Cta Section */

#cta{
    height:300px;
    background:linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.8)), url(/img/hrz-1.jpg);
    background-position:center;
    background-size:cover;
    color:var(--text-color);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cta-title{
    font-size:2em;
    font-weight: 500;
    margin-bottom:1em;
}

#cta .btn{
    width:30%;
    font-weight: 600;
    font-size:1.2em;
}

/* Footer */

#footer{
    text-align:center;
    color:var(--secondary);
    height:250px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#footer h3{
    font-size:1.8em;
    margin-bottom:.5em;
}

#footer p:nth-child(2){
    margin-bottom:1em;
    font-size:1.2em;
}

#footer span{
    font-weight: bold;
}

/* Mobile */

@media (max-width: 450px) {
    .main-header{
        flex-direction: column;
        height:auto;
    }

    .main-header-text{
        padding:2em;
    }

    .main-header-title{
        margin-bottom:.5em;
    }

    .main-header-form{
        max-width:70%;
        margin-bottom:2em;
    }
    
    /* Top Section Area */

    .card-area{
        flex-direction: column;
        align-items: center;
        width:auto;
        padding: 2em;
    }

    .card{
        max-width:100%;
        margin-bottom:2em;
    }


    /* Location Area */

    #location-section{
        flex-direction: column;
        height:auto;
        text-align: center;
        padding:2em 0;
    }

    .address-area{
        order:2;
        flex-direction: column;
        max-width:100%;
    }

    .address-area i{
        margin: .3em 0;
    }

    .location-text{
        max-width:100%;
        order:1;
    }
}